.gradle/
.kotlin/
build/
local.properties
keystore.properties
*.[jJ][kK][sS]
*.[kK][eE][yY][sS][tT][oO][rR][eE]
*.[pP]12
*.[pP][eE][mM]
*.[pP][kK]8
*.[kK][eE][yY]
*.apk
*.aab
*.apks
*.idsig
private/

app/build/
