.gradle/
.kotlin/
build/
[lL][oO][cC][aA][lL].[pP][rR][oO][pP][eE][rR][tT][iI][eE][sS]
[kK][eE][yY][sS][tT][oO][rR][eE].[pP][rR][oO][pP][eE][rR][tT][iI][eE][sS]
*.[jJ][kK][sS]
*.[kK][eE][yY][sS][tT][oO][rR][eE]
*.[pP]12
*.[pP][eE][mM]
*.[pP][kK]8
*.[kK][eE][yY]
*.[aA][pP][kK]
*.[aA][aA][bB]
*.[aA][pP][kK][sS]
*.[iI][dD][sS][iI][gG]
private/

app/build/
